<h1 class="text-center">Edit folder page</h1>

<div class="folder-container">
  <form action="/{{folder._id}}/edit" method="POST">
    <div class="form-div">
      <label> Folder name 
      <input type="text" name="title" class="form-input" value="{{folder.title}}"/>
    </label>
    </div>
    <div class="form-div">
      <label> Keywords 
      <input type="text" name="keywords" class="form-input" value="{{folder.keywords}}" />
    </label>
    </div>
    <div class="form-div">
      <textarea name="description" class="editor" >
        {{folder.description}}
      </textarea>
    </div>
    <div class="detail-btn">
      <button type="submit" class="btn">Save</button>
      <a href="/profile" class="btn">Back</a>
    </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form> 

</div>
